# Node
node_modules/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Env
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# Build & Dev Cache
dist/
build/
.astro/
.dart_tool/
