---
import LoginForm from '../components/auth/LoginForm';
import '../styles/global.css';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vigia | Ingresar</title>
    <script is:inline>
      const savedTheme = localStorage.getItem('theme');
      if (savedTheme === 'light') {
        document.documentElement.classList.add('light');
      } else {
        document.documentElement.classList.remove('light');
      }
    </script>
  </head>
  <body>
    <LoginForm client:load />
  </body>
</html>
